body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    font-size: 40px;
    line-height: 48.41px;
    margin-bottom: 60px;
}

.mainpage {
    display: flex;
    gap: 100px;
    margin: 0 auto;
    width: 1100px;
}

.newpost__add-title {
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-left: 20px;
    width: 500px;
    height: 60px;
    border: 1px gray solid;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.73px;
    color: gray;
}

.newpost__add-text  {
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0 0 200px 20px;
    width: 500px;
    height: 250px;
    border: 1px gray solid;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.73px;
    color: gray;
}

.newpost__add-post-btn {
    display: block;
    margin-bottom: 30px;
    width: 500px;
    height: 60px;
    background-color: rgba(0, 148, 255, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    line-height: 38.73px;
    border: none;
    border-radius: 10px;
    color: white;
}

.posts {
    margin-bottom: 42px;
}

.post__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 38.73px;
    color: black;
}

.post__text {
    font-size: 25px;
    line-height: 30.26px;
    color: black;
}

.post__date {
    margin-bottom: 15px;
    padding-left: 2px;
    font-size: 25px;
    line-height: 30.26px;
    color: rgba(0, 148, 255, 1);
}

.error-decorator {
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    color: red;
}

.inactive {
    pointer-events: none;
    }